body {
  background-color: black;
}

.bg-color-red {
  background-color: red;
}

.background-image {
  background-image: url('/images/Netflix-Background.jpg');
  background-size: contain;
  width: 100%;
  height: 90vh;
  opacity: 30%;
  position: absolute;
  left: 0;
  background-color: black;
}

.top-bar a {
  color: white;
  background-color: inherit;
}

.top-bar ul {
  background-color: inherit;
}

.top-bar li {
  list-style: none;
}

.show-callout {
  color: white;
}



